version: '3.9'
services:
  frontend:
    container_name: frontend
    image: annotate-frontend
    build: ./frontend
    environment:
      - VUE_APP_BASEURL=http://101.34.255.125:8080/api
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8080:80"

  backend:
    container_name: backend
    image: annotate-backend
    build: ./Backend
    restart: always
    depends_on:
      - db
      - redis
    env_file:
      - ./Backend/.flaskenv
      - ./Backend/.env
    ports:
      - 5000:5000
    volumes:
      - annotate_data_image:/home/app/data/images
      - annotate_data_model:/home/app/data/models

  celery:
    container_name: celery
    image: annotate-backend
    build: ./Backend
    restart: always
    entrypoint: celery -A acelery.tasks worker -l INFO
    depends_on:
      - db
      - redis
    env_file:
      - ./Backend/.flaskenv
      - ./Backend/.env
    volumes:
      - annotate_data_image:/home/app/data/images
      - annotate_data_model:/home/app/data/models

  redis:
    container_name: redis
    image: redis
    ports:
      - 6379:6379

  db:
    container_name: db
    image: mysql:8.0.28
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=annotate
    volumes:
      - annotate_db:/var/lib/mysql
      - ./annotate.sql:/docker-entrypoint-initdb.d/start.sql

volumes:
  annotate_db:
  annotate_data_image:
  annotate_data_model:
